/*#A8A7A8, #CC527A, #E8175D, #474747, #363636*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,800');

header{
    text-align: center;
    font-size: 1.9em;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #363636;
}
body { 
    margin: 0;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}
ul {
    padding: .5em;
    list-style: none;
}
.tagline{
    text-align: center;
    color: #E8175D;
}
.tagline p{
    color: #363636;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}

.skills{
    text-align: center;
    color: #E8175D;
}
.skills ul {
    color: #363636;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;    
}

.contact{
    text-align: center;
    color: #E8175D;
}
.contact p{
    color: #363636;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}
